<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header class="flexbox-header">
        <%- include('../partials/header'); %>
    </header>

    <% if (!authenticated) { %>
    <!-- Show login form if not authenticated -->
    <div class="login-form">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="button-field">
                <button type="submit">Login</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </div>
    <% } else { %>
    <!-- Show main content if authenticated -->
    <div class="title">
        <h1 style="margin: 10px;">Producer Dashboard</h1>
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div class="main">
        <section class="schedule">
            <h2 style="text-align: center;">Schedule</h2>
            <input type="text" id="searchSched" placeholder="Search...">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th>DJ</th>
                    </tr>
                </thead>
                <tbody id="schedBody">
                    <% date.forEach(date => { %>
                        <tr class="date-row">
                            <td><%= date.date %></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <% date.timeSlots.forEach((slot, slotIndex) => { %>
                            <tr class="time-slot-row">
                                <td>
                                    <a href="/edit/<%= date._id %>/<%= slotIndex %>"><button>edit</button></a>
                                </td>
                                <td colspan="1"><%= slot.startTime %> - <%= slot.endTime %></td>
                                <td><%= slot.djName %></td>
                            </tr>
                        <% }) %>                    
                    <% }) %>
                </tbody>
            </table>
        </section>
    </div>
    <script src="../../public/js/script.js"></script>
    <% } %>



<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>

</html>
